@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vintage';
  src: url('/fonts/Vintage.ttf') format('truetype');
}

body {
  font-family: 'Vintage', sans-serif;
}